.footer {
    background-color: #f4e5c9;
    padding: 20px;
    text-align: center;
    font-size: 1em;
    position: relative;
    top: 10px;
}

.footer a {
    margin: 0 auto;
    padding: 5px 20px;
}

@media (max-width: 980px) {
    .footer {
        font-size: 0.7em;
    }
}