.navbar {
    display: flex;
    align-items: center;
    color: var(--color);
    transition: background-color 0.2s, color 0.2s;
    padding: 10px 0;
    background-color: #f4e5c9;
    width: 100vw;
    overflow-x: scroll;
    position: relative;
    top: -4px;
}

.btnMenu {
    border-radius: var(--border-radius);
    color: var(--color);
    transition: all 0.2s;
    width: 6em;
    font-family: "Monomakh Unicode TT";
}

.btnMenu:hover {
    background-color: var(--color);
    color: var(--background-color);
}

@media (max-width: 980px) {
    .navbar {
        top: -14px;
    }

    .btnMenu {
        width: 4em;
    }
}